.cityPresenter--wrapper{
  padding: 50px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;

}
.cityPresenter{
  padding: 60px;
  background: $globalColor;
}
.cityPresenter__captionWrapper{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cityPresenter__img{
  max-width: 100%;
}

