$globalColor: #79ff9f;

body{
  min-height: 1660px;
}
.tourbo__img{

}
.logo{
  width: 200px;
}

/* remove spacing between middle columns */
.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:0;
  padding-left:0;
}
/* remove right padding from first column */
.row.no-gutter [class*='col-']:first-child {
  //padding-right:0;
}
/* remove left padding from first column */
.row.no-gutter [class*='col-']:last-child {
  padding-left:0;
  padding-right:0;
}


/* only for column content visible */
.col-lg-1>div {background-color:#ddd;}

